body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f8;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-box {
    display: flex;
}