.hidden{
    display:none;
}

.modal{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.5);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:1000;
}

.modal-content{

    width:500px;
    max-width:90%;

    background:white;

    border-radius:12px;

    padding:25px;

    position:relative;
}

.close-btn{

    position:absolute;

    top:15px;
    right:15px;

    border:none;
    background:none;

    font-size:28px;

    cursor:pointer;
}

#create-post-form{

    display:flex;
    flex-direction:column;

    gap:15px;
}

#create-post-form input,
#create-post-form select,
#create-post-form textarea{

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;
}

#create-post-form button{

    padding:12px;

    border:none;

    border-radius:8px;

    background:#2563eb;

    color:white;

    cursor:pointer;
}